.footer-item_position {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box_position {
    margin-right: auto;
}
.footer-address__location {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--withe-color);
    text-decoration: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: var(--hover-color);
    }
}

.footer-address__contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--hover-color);
         }
}

.footer-address__title:not(:last-child) {
    margin-bottom: 10px;
}

.footer-item__footer-container {
    display: flex;
    align-items: baseline;
    column-gap: 70px;
}

.footer-title_position {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--withe-color);
    margin-bottom: 20px;
}

.footer-icon-list_overview {
    display: flex;
    column-gap: 10px;
}

.footer-icon-list__footer-icon {
    width: 44px;
    height: 44px;
            >a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--withe-color);
            background-color: rgba(255, 255, 255, 0.1);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                        background-color: var(--hover-color);
                    }
        }
}

.footer-icon__socials {
    fill: currentColor;
}

.footer-mail_overview {
    width: 570px;
    margin-left: auto;
}

.footer-mail__form {
    display: flex;
    column-gap: 12px;
}

.footer-mai__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--background-color);
    height: 50px;
    width: 358px;
    padding-left: 16px;
    color: var(--withe-color);
    &::placeholder {
            font-size: 16px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
        }

}

.footer-mail-btn_overview {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--withe-color);
    background-color: var(--hover-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.footer-mail-btn__icon {
    fill: currentColor;
    margin-left: 10px;
}