.work,
.team,
.clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    column-gap: 30px;
}

.work-list-img {
    position: relative;
}

.work-text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    bottom: 0;
    right: 50%;
    color: var(--withe-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transform: translate(50%, 0);
    justify-content: center;
    align-items: center;
}